<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <li>
          <%= link_to 'Courses', courses_path %>
        </li>
        <li>
          <%= link_to 'Review Cycles', review_cycles_path %>
        </li>
        <li>
          <%= link_to 'Reviews', reviews_path %>
        </li>
      <% end  %>
      <li>
        <%= link_to 'Comments', comments_path %>
      </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>
  </ul>
</div>